* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #10132B;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul li {
  float: right;
}

ul li a {
  font-family: 'Cinzel', serif;
  display: block;
  color: #FFE600;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #FFE600;
  font-family: 'Cinzel', serif;
  font-weight: lighter;
  font-size: 4.5vw;
  letter-spacing: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 900px;
}

.header h2 {
  color: #E5E5E5;
  font-weight: lighter;
  font-size: 2.5vw;
}

.header .portfolio_links {
  font-size: 1.5vw;
}

.header .portfolio_links li a {
  color: #E5E5E5;
}

.landing_page {
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  float: right;
}

.contentSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contentSection .projects .projectsTitle {
  font-family: 'Cinzel', serif;
  color: #E5E5E5;
}

.contentSection .projects .projectsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  padding: 0 10px;
}

.contentSection .projects .card_container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.contentSection .projects .column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

.contentSection .projects .card-body {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #171C4B;
}

.contentSection .projects .card-title {
  font-family: 'Cinzel', serif;
}

.contact h2 {
  font-family: 'Cinzel', serif;
}

.contact .info img {
  height: 45px;
  width: 45px;
  color: #FFE600;
}

.contact .logo_links {
  height: 45px;
  width: 45px;
}
