*{
    margin: 0;
    padding: 0;
}
body
{
    display: flex;
    flex-direction: column;
    background-color: #10132B
}
ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li 
{
  float: right;
}

li a 
{
    font-family: 'Cinzel', serif;
    display: block;
    color: #FFE600;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.header{
    display: flex;
    flex-direction: column;
    color: #FFE600;
    align-items: center;
    font-family: 'Cinzel', serif;
    font-size: 55px;
    letter-spacing: 15px;
}

/* .logo_img{
    position: absolute;
} */
img{
    float: right;
}



