body
{
    display: flex;
    flex-direction: column;
    background-color: #10132B
}
ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li 
{
  float: right;
}

li a 
{
    font-family: 'Cinzel', serif;
    display: block;
    color: #FFE600;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.header{
    display: flex;
    flex-direction: column;
    color: #FFE600;
    align-items: center;
}

.center-img{
    display: flex;
    justify-content: center;
}
img{
    float: right;
}



