@import "variables";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    display: flex;
    flex-direction: column;
    background-color: $backgroundColor;
}
ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    li 
    {
        float: right;
    }

    li a 
    {
        font-family: 'Cinzel', serif;
        display: block;
        color: $navLinkColor;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
}

.landing_page{
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-size: cover;

    .header{
        display: flex;
        flex-direction: column;
        color: $navLinkColor;
        font-family: 'Cinzel', serif;
        font-weight: lighter;
        font-size: 4.5vw;
        letter-spacing: 15px;
        align-items: center;
        justify-content: center;
        height: 900px;
    
        h2{
            color: $mainFontColor;
            font-weight: lighter;
            font-size: 2.5vw;
        }
    
        .portfolio_links{
            font-size: 1.5vw;
            li a{
                color: $mainFontColor;
            }
            
        }
    }
}


.contentSection{
    display: flex;
    flex-direction: column;

    .projects{
        .projectsTitle{
            font-family: 'Cinzel', serif;
            color: $mainFontColor;
        }
            .card_wrapper{
                display: flex;
                padding: 0 20px;
                align-items: center;
                color: $mainFontColor;
                

                .card{
                    position: relative;
                }
            
        }

        

        .column {
            float: left;
            width: 25%;
            padding: 0 10px;
          }

        .card-body {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
            padding: 16px;
            text-align: center;
            background-color: #171C4B;
          }

          .card-title{
            font-family: 'Cinzel', serif;
          }
    }


    
}
.contact{
    h2{
        font-family: 'Cinzel', serif;
    }

    .info img{
        height: 45px;
        width: 45px;
        color: $navLinkColor;
    }

    .logo_links a{
        height: 45px;
        width: 45px;
    }
}


