@import "variables";
*{
    margin: 0;
    padding: 0;
}
body
{
    display: flex;
    flex-direction: column;
    background-color: $backGroundColor;
}
ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li 
{
  float: right;
}

li a 
{
    font-family: 'Cinzel', serif;
    display: block;
    color: $navLinkColor;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.landing_page{
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    float: right; 
}

.header{
    display: flex;
    flex-direction: column;
    color: $navLinkColor;
    align-items: center;
    font-family: 'Cinzel', serif;
    font-size: 55px;
    letter-spacing: 15px;
}

img{
    float: right;
}
.about{
    color: $mainFontColor;
}



